<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>
<body>

<div>
    <div class="row">
        <div th:each="item: ${tracks.items}">
            <div class="card-body text-center py-1">
                <p class="card-title text-dark font-weight-bold" th:text="${item.track.name}">Track</p>
                <p class="card-title text-muted" th:text="${item.track.artists[0].name}">Artist</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>